@font-face {
  font-family: "Gilroy-Black";
  src: url("../src/assets/fonts/Gilroy-Black.ttf");
}

body {
  font-family: "Gilroy-Black";
    overflow-x: hidden;
    overflow-y: scroll;
}

button {
  font-family: "Gilroy-Black";
}

#weatherIcon {
  width: 60px;
  position: relative;
}

.menu-items {
  position: relative;
  z-index: 99;
}

#loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

#loading-content {
  align-items: center;
}

.nonExistent {
  text-align: center;
  height: 80vh;
}

.nonExistent > h1, .nonExistent> p {
  margin-top: 10%;
}


