header {
  display: flex;
  height: 10vh;
  width: 90%;
  margin: auto;
  align-items: center;
}

.toggler-icon {
  background-color: none;
  border: none;
}

#root > div > nav > div > button {
  border: none;
  border-radius: 50px;
  color: black;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}
.custom-toggler {
  position: relative;
  border: none;
}

nav {
  flex: 2;
  background-color: #aee1ff;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #ffffff !important;
  font-size: 20px !important ;
  font-weight: bold !important;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 50px;
}

.custom-header {
  background-color: #aee1ff;
  box-shadow: 0 10px 30px rgba(135, 135, 135, 0.3);
}

.ml-auto-custom {
  margin-left: auto !important;
  /* padding-bottom: 20px; */
}

.navbar-toggler-icon {
  color: wheat;
  border: none;
}

.nav-link {
  color: #ffffff !important;
  font-size: 20px !important ;
  font-weight: bold !important;
  text-decoration: none;
  cursor: pointer;
  /* margin-top: 20px; */
  margin-right: 50px;
}

.hamburger-menu {
  display: none;
  margin-left: auto;
  right: 5%;
  height: 30px;
  width: 60px;
  position: absolute;
  transform: rotate(90deg);
  border: none;
}

@media screen and (max-width: 900px) { 

    
    .navbar-toggler {
        z-index: 1;
      }
      
      .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 0;
        background-color: #aee1ff;
        width: 100vw;
        text-align: left;
        padding-left: 2%;
      }
      
}
